
* {
    margin:0;
    padding:0;
}
header,nav,article,footer,aside,main,section{
    display:block;
}
ul,li{
    text-decoration: none;
    list-style-type: none;
}
a{
    text-decoration: none;
}
@font-face {
    font-family: gil;
    src: url(../fonts/gillsans-light.ttf);
}
@font-face {
    font-family: gil_bold;
    src: url(../fonts/GIL_____.TTF);
}
.clear {
    clear: both;
}

@media (min-width: 600px) {
    .visible_in_desktop_only{
        visibility: visible;
    }
    #title_section {
        width: 100%;
        height: 150px;
        position: relative;
    }
    #title_section>h1{
        font-family: gil_bold;
        font-size: 72px;
        position: absolute;
        top: 15px;
        left: 30px;
    }
    .visible_in_desktop_only>h2{
        font-family: gil_bold;
        font-size: 24px;
        color:#f05d58 ;
        position: absolute;
        top: 100px;
        left: 30px;
    }
    #main_nav{
        position: absolute;
        top: 50px;
        right:50px;

    }
    #main_nav ul li {
        float: left;
        margin-left: 20px
    }
    #main_nav ul li >img{
        width: 60px;
        height: 60px;
        padding-bottom: 3px;
        cursor: pointer;
    }
    .active_main_nav {
        border-bottom: 3px solid #f05d58;
    }
    .active_main_nav>a {
        /*color: #ffffff;*/
    }
    .active {
        background-color: #6c6d70;
    }
    .active>a {
        color: #ffffff;
    }

    /* animal nav */
    #animal_nav {
        width: 88%;
        height: 89px;
        border-top: 1px solid #747272;
        border-bottom: 1px solid #d7d7d8;
        float: left;
    }
    #animal_nav ul {
        width: 100%;
        height: 100%;
    }
    #animal_nav li {
        width: 98px;
        height: 100%;
        float: left;
    }
    .nav_img {
        width: 100%;
        height: 74px;
        border-right: 1px solid #d7d7d8;
        margin-top: 8px;
    }
    .nav_img img {
        width: 59px;
        height: 59px;
        margin-top: 9px;
        margin-left: 18px;
        padding: 1px;
        border-radius: 100%;
        border: 1px solid #000000;
        cursor: pointer;
    }
    #add_animal {
        width: 11.9%;
        height: 89px;
        float: left;
        border-top: 1px solid #747272;
        border-bottom: 1px solid #d7d7d8;
    }
    #add_animal>section {
        width: 100%;
        height: 74px;
        border-left: 1px solid #d7d7d8;
        margin-top: 8px;
    }
    #add_animal>section>img {
        width: 57px;
        height: 57px;
        display: block;
        margin: auto;
        padding-top: 9px;
        cursor: pointer;
    }

    .section_animal_nav{
        margin:0 auto;
    }



    /************************** ANIMAL PAGE **************************/

    /* simple details on the current animal */
    #simple_details {
        width: 100%;
    }
    #simple_details>section {
        width: 100%;
        height: 89px;
        font-family: gil,arial,sans-serif;
        border-bottom: 1px solid #d7d7d8;
    }
    .simple_detail_edit_img, .simple_detail_desc {
        float:left;
        height: 100%;
        position: relative;
    }
    .simple_detail_edit_img {
        width: 98px;
        background: #ffffff url("../images/edit.png") no-repeat center;
        background-size: 48px 43px;
    }
    .simple_detail_edit_img>section {
        width: 100%;
        height: 74px;
        margin-top: 8px;
        border-right : 1px solid #d7d7d8;
        cursor: pointer;
    }
    .edit_mode {
        background: #f05d58 url("../images/editclicked.png") no-repeat center;
        background-size: 48px 43px;
    }
    .simple_detail_desc {
        width: 80%;
    }
    .simple_detail_desc>section {
        position: absolute;
        top: 38px;
        font-family: gil_bold,arial,sans-serif;
        font-size: 23px;
    }
    .simple_detail_desc>section:nth-child(1) {
        left: 23px;
    }
    /*.showAge {
        width: 300px;
        position: absolute;
        top: 38px;
        left: 78px;
    }*/
    .simple_detail_desc>section input,.simple_detail_desc>section input:focus {
        outline: 0;
        border: 0px solid;
        font-family: gil,arial,sans-serif;
        font-size: 23px;
    }
    #simple_detail_name_bold {
        font-family: gil_bold,arial,sans-serif;
        font-size: 23px;
    }
    .simple_detail_desc>section:nth-child(2) {
        color: #f05d58;
        right: 0px;
        cursor: pointer;
    }
    #complex_details{
        width: 100%;
        padding-top: 31px;
        padding-bottom: 31px;
        background-color: #e4e5e6;
    }
    .scroll_list {
        width: 90%;
        margin: 0 auto;
    }
    .scroll_list>ul {
        width: 100%;
        margin-top: 20px;
        border: 1px solid #221f1f;
        background-color: #ffffff;
    }
    /* first li of section scroll_list */
    .scroll_list_title {
        width: 100%;
        height: 82px;
        font-family: gil,arial,sans-serif;
        font-size: 14px;
    }
    .open_scroll_list {
        background-color: #f05d58;
        border-bottom: 1px solid #221f1f;
    }
    .scroll_list_title {
        position: relative;
    }
    .scroll_list_title>section {
        display: inline-block;
        position: absolute;
    }
    .scroll_list_title>section:nth-child(1){
        width: 59px;
        left: 29px;
        top: 12px;
    }
    .scroll_list_title>section:nth-child(1)>img{
        width: 59px;
        height: 59px;
    }
    .scroll_list_title>section:nth-child(2){
        left: 103px;
        top: 32px;
        font-family: gil_bold,arial,sans-serif;
        font-size: 23px;
    }
    .scroll_list_arrow {
        width: 94%;
        height: 58px;
        margin: 0 auto;
        border-top: 1px solid #221f1f;
    }
    .scroll_list_arrow>section {
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
    .list_arrow_down {
        background: #ffffff url("../images/arrow_down.png") no-repeat center;
        background-size: 63px 27px;
    }
    .list_arrow_up {
        background: #ffffff url("../images/arrow_up.png") no-repeat center;
        background-size: 63px 27px;
    }
    .imp_detail_not_exist, .most_imp_detail {
        width: 100%;
        height: 169px;
    }
    .imp_detail_not_exist img {
        display: block;
        width: 129px;
        height: 129px;
        margin: auto;
        padding-top: 20px;
    }


    .most_imp_detail {
        position: relative;
    }
    .most_imp_detail>img {
        display: block;
        position: absolute;
        width: 129px;
        height: 129px;
        top: 20px;
        left: 33px;
    }
    .most_imp_detail>p {
        position: absolute;
        left: 183px;
    }
    .most_imp_detail>p:nth-child(2) {
        font-family: gil_bold,arial,sans-serif;
        font-size: 24px;
        top: 41px; /*41*/
    }
    .most_imp_detail>p:nth-child(3),.most_imp_detail>p:nth-child(4) {
        font-family: gil,arial,sans-serif;
        font-size: 23px;
    }
    .most_imp_detail>p:nth-child(3){
        top: 70px;
    }
    .most_imp_detail>p:nth-child(4) {
        top: 97px;
    }



    .sub_title_complex_details {
        position: relative;
        width: 94%;
        height: 62px;
        margin: 0 auto;
        border-top: 1px solid #221f1f;
        border-bottom : 1px solid #221f1f;
    }
    .sub_title_complex_details p {
        position: absolute;
        left: 11px;
        bottom: 14px;
        font-family: gil_bold,arial,sans-serif;
        font-size: 23px;
    }
    .sub_title_complex_details img {
        display: block;
        position: absolute;
        right: 7px;
        top: 11px;
        width: 42px;
        height: 42px;
    }
    .scroll_list_item_close{
        width: 94%;
        height: 78px;
        margin: 0 auto;
        border-top: 1px solid #d7d7d8;
        position: relative;
        cursor: pointer;
    }
    .no_border {
        border: none;
    }
    .scroll_list_item_close>img {
        width: 58px;
        height: 58px;
        display: block;
        position: absolute;
        top: 10px;
        left: 13px;
    }
    .scroll_list_item_close>p:nth-child(2) { /* title/desc */
        position: absolute;
        top: 28px;
        left: 90px;
        font-family: gil_bold,arial,sans-serif;
        font-size: 23px;
    }
    .scroll_list_item_close>p:nth-child(3) { /* time left */
        position: absolute;
        top: 36px;
        font-family: gil,arial,sans-serif;
        font-size: 19px;
    }
    .time_left { 	/* time left */
        right: 9px;
    }
    .time_left_align {	/* time left aligned left because the trash image was added */
        right: 87px;
    }
    .scroll_list_delete_item {
        width: 63px;
        height: 66px;
        position: absolute;
        top: 5px;
        right: 0px;
        border-left: 1px solid #d7d7d8;
    }
    .scroll_list_delete_item>img {
        width: 32px;
        height: 35px;
        margin-top: 20px;
        margin-left: 16px;
    }
    /* complex details add new form */
    .new_complex_details_form{
        width:90%;
        height: 100%;
        margin:0 auto;
    }
    .new_complex_details_form>section{
        width:100%;
        height: 78px;
        font-family: gil_bold, arial, sans-serif;
        font-size: 23px;
        border-bottom: 1px solid #d7d7d8;
    }
    .new_complex_details_form>section>img{
        width: 58px;
        height: 58px;
        float: left;
        margin-top: 9px;
        margin-left: 13px;
    }
    .new_complex_details_form>section>input, .new_complex_details_form>section>label{
        float: left;
        font-size: 24px;
    }
    .new_complex_details_form>section>label {
        margin-top: 29px;
        margin-left: 17px;
        font-family: gil_bold, arial, sans-serif;
    }
    .new_complex_details_form>section>input{
        margin-top: 31px;
        font-family: gil, arial, sans-serif;
        text-align: left
    }
    .new_complex_details_form>section>input[type='date']{
        margin-top: 26px;
    }
    .new_complex_details_form>section>input[type='text'], .new_complex_details_form>section>input[type='number'] {
        margin-left: 8px;
    }
    .new_complex_details_form>section>input, .new_complex_details_form>section>input:focus{
        outline: 0;
        border: 0px solid;
    }
    .spacer_form_complex_detail {
        height: 141px;
    }
    .new_complex_details_last_row {
        border-top: 1px solid #221f1f;
        position: relative;
        cursor: pointer;
    }
    #submit_new_vacc, #submit_new_food, #submit_new_care{
        visibility: hidden;
    }
    #done_new_vacc, #done_new_food, #done_new_care{
        width: 100%;
        position: absolute;
        top: 19px;
        font-family: gil_bold, arial, sans-serif;
        font-size: 23px;
        color:#f05d58;
        text-align: center;
    }
    input[type=date]::-webkit-inner-spin-button,
    input[type=date]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type="date"]::-webkit-clear-button {
        -webkit-appearance: none;
        display: none;
    }

    #delete_animal {
        width: 100%;
        height: 40px;
        padding-top: 30px;
        background-color: #e4e5e6;
    }
    #delete_animal>img {
        width: 44px;
        height: 54px;
        display: block;
        margin: 0 auto;
        cursor: pointer;
    }


    /*::-webkit-datetime-edit-year-field:not([aria-valuenow]),
    ::-webkit-datetime-edit-month-field:not([aria-valuenow]),
    ::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
        color: transparent;
    }*/

    /* open list not working */
    /*.open_details {
    }
    .scroll_list_row_details {
        height: 39px;
        margin-left: 90px;
        font-family: gil,arial,sans-serif;
        font-size: 19px;
    }*/


    /*.edit_button{
        position: absolute;
        right: 4%;
    }
    .edit_button>img {
        display: block;
        width: 25px;
        height: 25px;
        padding-top: 8px;
    }*/



    /************************** NEW ANIMAL PAGE **************************/
    #new_animal_page {
        background-color: #e4e5e6;
        min-height: 786px;
        padding-top: 57px;
    }
    #new_animal {
        width: 90%;
        margin: 0 auto;
        background-color: #ffffff;
        border: 1px solid #221f1f;
    }
    #new_animal_title {
        width: 100%;
        height: 35px;
        position: relative;
    }
    #new_animal_title>p {
        text-align: center;
        margin-top: 23px;
        font-family: gil_bold,arial,sans-serif;
        font-size: 23px;
    }
    #new_animal_pic {
        width: 90%;
        height: 169px;
        position: relative;
        margin: 0 auto;
        border-bottom: 1px solid #221f1f;
        border-top: 1px solid #221f1f;
        -webkit-appearance:none;
    }
    #new_animal_pic input {
    }
    #profileImage {
        width: 128px;
        height: 128px;
        display: block;
        margin: 0 auto;
        margin-top: 21px;
        cursor: pointer;
    }
    .circlephoto {
        border-radius:99px;
        -moz-border-radius:99px;
        -webkit-border-radius:99px;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        border: 1px solid #221f1f;
        padding: 1px;
    }
    #new_animal_details {
        width: 90%;
        height: 62px;
        margin: 0 auto;
        border-bottom: 1px solid #221f1f;
        position: relative;
    }
    #new_animal_details>p {
        position: absolute;
        bottom: 17px;
        left: 14px;
        font-family: gil_bold,arial,sans-serif;
        font-size: 23px;
    }
    #new_animal_details>img {
        display: block;
        position: absolute;
        /* This is the size ? ang right ? and small or edit ? */
        width: 40px;
        height: 36px;

        bottom: 13px;
        right: 10px;
    }
    #new_animal_form {
        width: 90%;
        height: 445px;
        margin: 0 auto;
    }
    .form_row {
        width: 90%;
        height: 80px;
        margin: 0 auto;
        border-bottom: 1px solid #d7d7d8;
    }
    .form_row img, .form_row input, .form_row label {
        float: left;
    }
    .form_row img {
        display: block;
        width: 59px;
        height: 59px;
        margin-top: 11px;
        margin-left: 14px;
    }
    .form_row label {
        margin-top: 31px;
        margin-left: 19px;
        font-family: gil_bold,arial,sans-serif;
        font-size: 23px;
    }
    .form_row input {
        margin-top: 31px;
        margin-left: 8px;
        outline: 0;
        border: 0px solid;
        font-family: gil,arial,sans-serif;
        font-size: 23px;
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    #form_spacer {
        height: 143px;
    }
    #new_animal_last_row {
        width: 100%;
        height: 57px;
        margin-left: 13px;
        border-top: 1px solid #221f1f;
        position: relative;
    }
    #submit_new_animal{
        visibility: hidden;
    }
    #done_new_animal{
        font-family: gil_bold, arial, sans-serif;
        font-size: 23px;
        color:#f05d58;
        text-align: center;
        cursor: pointer;
    }
    #default_circle {
        margin: 0 auto;
        margin-top: 16px;
        border-radius:99px;
        background-color: #e7676d;
        width: 60px;
        height: 60px;
    }





    /******************** NOTIFICARION PAGE *********************/
    #noti_page {
        background-color: #d1d2d3;
        padding-top: 1px;
        min-height: 912px;
        padding-bottom: 21px;
    }
    .noti {
        width: 90%;
        border: 1px solid #221f1f;
        margin: 0 auto;
        margin-top: 21px;
        background-color: #ffffff;
    }
    .noti_title {
        width: 90%;
        height: 68px;
        border-bottom: 1px solid #221f1f;
        margin:0 auto;
        position: relative;
    }
    .noti_title>section {
        display: inline-block;
        position: absolute;
    }
    .noti_title>section:nth-child(1) {
        top: 13px;
        left: 7px;
    }
    .noti_title>section:nth-child(1)>img {
        width: 44px;
        height: 44px;
    }
    .noti_title>section:nth-child(2) {
        top: 26px;
        left: 65px;
        font-family: gil_bold,arial,sans-serif;
        font-size: 21px;
    }
    .noti_title>section:nth-child(3) {
        top: 26px;
        /*left: 490px;  508px */
        right: 7px;
        font-family: gil,arial,sans-serif;
        font-size: 20px;
    }
    .noti_body {
        width: 564px;
        height: 168px;
        margin-left: 12px;
    }
    .noti_body>section {
        float: left;
    }
    .noti_body>section:nth-child(1) {
        width: 152px;
        height: 100%;
    }
    .noti_body>section:nth-child(1)>img {
        width: 129px;
        height: 129px;
        margin-left: 50px;
        margin-top: 18px;
    }
    .noti_body>section:nth-child(2) {
        height: 100%;
        margin-left: 47px;
        margin-top: 48px
    }
    .noti_body>section:nth-child(2)>p:nth-child(1) {
        font-family: gil_bold,arial,sans-serif;
        font-size: 23px;
    }
    .noti_body>section:nth-child(2)>p:nth-child(2) {
        font-family: gil,arial,sans-serif;
        font-size: 23px;
    }
    .noti_end {
        width: 90%;
        height: 69px;
        margin: 0 auto;
        border-top: 1px solid #221f1f;
        position: relative;
    }
    .noti_end>section {
        position: absolute;
    }
    .noti_end>section:nth-child(1) {
        left: 6px;
        top: 16px;
    }
    .noti_end>section:nth-child(1)>img {
        width: 23px;
        height: 28px;
    }
    .noti_end>section:nth-child(1)>p {
        display: inline-block;
        font-family: gil,arial,sans-serif;
        font-size: 20px;
        margin-top: 7px;
        margin-left: 11px;
        color: #221f1f;
    }
    .noti_end>section:nth-child(2) {
        right:11px;
        top: 23px;
        font-family: gil_bold,arial,sans-serif;
        font-size: 20px;
        color: #f05d58;
        cursor: pointer;
    }

        /************************** LOGIN PAGE **************************/
        .login_bg {
            background-color: #f05d58;
        }
        #loginIcon{
            width: 100%;
            padding: 173px 0 147px 0;
            text-align: center;
        }
        #loginIcon>img {
            width: 181px;
            height: 181px;
        }
        #loginForm{
            text-align: center;
        }
        .textInput{
            width: 434px;
            height: 78px;
            padding-left: 32px;
            margin-bottom: 26px;
            font-size: 24px;
            font-family: gil,Verdana, sans-serif;
            outline: 0px;
            border: none;
        }
        #loginButton{
            display:none;
        }
        #login_btn {
            margin: 28px 0px 336px 0px;
            width: 466px;
            height: 64px;
        }
        /* end login page */

    }


