/************************** LOGIN PAGE **************************/
* {
	margin:0;
	padding:0;	
}
header,nav,article,footer,aside,main,section{
	display:block;
}
ul,li{
	text-decoration: none;
	list-style-type: none;
}
a{
	text-decoration: none;
}
@font-face {
	font-family: gil;
	src: url(../fonts/gillsans-light.ttf);
}
@font-face {
	font-family: gil_bold;
	src: url(../fonts/GIL_____.TTF);
}
.clear {
	clear: both;
}

@media all and (max-width: 375px){	

	#wrapper{
		/*width:100%;*/
		width: 640px;
		margin:0 auto;
	}

	/************************** LOGIN PAGE **************************/
	.login_bg {
		background-color: #f05d58;
	}
	#loginIcon{
		width: 100%;
		padding: 173px 0 147px 0;
		text-align: center;
	}
	#loginIcon>img {
		width: 181px;
		height: 181px;
	}
	#loginForm{
		text-align: center;
	}
	.textInput{
		width: 434px; 
		height: 78px;
		padding-left: 32px;
		margin-bottom: 26px;
		font-size: 24px;
		font-family: gil,Verdana, sans-serif;
		outline: 0px;
		border: none;
	}
	#loginButton{
		display:none;
	}
	#login_btn {
		margin: 28px 0px 336px 0px;
		width: 466px;
		height: 64px;
	}
	/* end login page */

	/************************** INDEX PAGE **************************/

	#title_section{
		width: 100%;
		height: 114px;
		background-color: #6c6d70;
		font-family: gil_bold,arial,sans-serif;	
		font-size: 28px;
		position: relative;
	}
	#title_section>h1 {
		position: absolute;
		top: 63px;
		left: 260px;
		color: #ffffff;
	}
	/* main nav */
	#main_nav {
		width: 100%;
		height: 88px;
		background-color: #ffffff;
	}
	#main_nav>ul {
		height: 100%;
	}
	#main_nav li {
		width: 50%;
		height: 100%;
		float: left;
		text-align: center; 
	}
	#main_nav img {
		width: 45px;
		height: 45px;
		margin-top: 22px;
	}
	.active {
		background-color: #6c6d70;
	}
	.active>a {
		color: #ffffff;
	}
	/* animal nav */
	#animal_nav {
		width: 541px;
		height: 89px;	
		border-top: 1px solid #747272;
		border-bottom: 1px solid #d7d7d8;
		float: left;
	}
	#animal_nav ul {
		width: 100%;
		height: 100%;
	}
	#animal_nav li {
		width: 98px;
		height: 100%;
		float: left;
	}
	.nav_img {
		width: 100%;
		height: 74px;
		border-right: 1px solid #d7d7d8;
		margin-top: 8px;
	}
	.nav_img img {
		width: 60px;
		height: 60px;
		margin-top: 9px;
		margin-left: 18px;
	}
	#add_animal {
		width: 97px;
		height: 89px;
		float: left;
		border-top: 1px solid #747272;
		border-bottom: 1px solid #d7d7d8;
	}
	#add_animal>section {
		width: 100%;
		height: 74px;
		border-left: 1px solid #d7d7d8;
		margin-top: 8px;
	}
	#add_animal>section>img {
		width: 57px;
		height: 57px;
		margin-top: 9px;
		margin-left: 20px;
	}

	/************************** ANIMAL PAGE **************************/

	/* simple details on the current animal */
	#simple_details {
		width: 100%;
	}
	#simple_details>section {
		width: 100%;
		height: 89px;
		font-family: gil,arial,sans-serif;
		border-bottom: 1px solid #d7d7d8;
	}
	.simple_detail_edit_img, .simple_detail_desc {	
		float:left;
		height: 100%;
		position: relative;
	}
	.simple_detail_edit_img {	
		width: 98px;
		background: #ffffff url("../images/edit.png") no-repeat center;
		background-size: 48px 43px;
	}
	.simple_detail_edit_img>section {
		width: 100%;
		height: 74px;
		margin-top: 8px;
		border-right : 1px solid #d7d7d8;
	}
	.edit_mode {
		background: #f05d58 url("../images/editclicked.png") no-repeat center;
		background-size: 48px 43px;
	}
	.simple_detail_desc {	
		width: 539px;
	}
	.simple_detail_desc>section {
		position: absolute;
		top: 38px;
		font-family: gil_bold,arial,sans-serif;
		font-size: 23px;
	}
	.simple_detail_desc>section:nth-child(1) {
		left: 23px;
	}
	.simple_detail_desc>section>input,.simple_detail_desc>section>input:focus {
		outline: 0;
		border: 0px solid;
		font-family: gil,arial,sans-serif;
		font-size: 23px;
	}
	#simple_detail_name_bold {
		font-family: gil_bold,arial,sans-serif;
		font-size: 23px;	
	}
	.simple_detail_desc>section:nth-child(2) {
		color: #f05d58;
		right: 23px;
	}
	#complex_details{
		width: 100%;
		padding-top: 31px;
		/*padding-bottom: 20px;*/
		background-color: #e4e5e6;
	}
	.scroll_list {
		width: 591px;
		margin: 0 auto;
	}
	.scroll_list>ul {
		width: 100%;
		margin-top: 20px;
		border: 1px solid #221f1f;
		background-color: #ffffff;
	}
	/* first li of section scroll_list */
	.scroll_list_title {
		width: 100%;
		height: 82px;
		font-family: gil,arial,sans-serif;
		font-size: 14px;
	}
	.open_scroll_list {
		background-color: #f05d58;
		border-bottom: 1px solid #221f1f;
	}
	.scroll_list_title {
		position: relative;
	}
	.scroll_list_title>section {
		display: inline-block;
		position: absolute;
	}
	.scroll_list_title>section:nth-child(1){
		width: 59px;
		left: 29px;
		top: 12px;
	}
	.scroll_list_title>section:nth-child(1)>img{
		width: 59px;
		height: 59px;
	}
	.scroll_list_title>section:nth-child(2){ 
		left: 103px;
		top: 32px;
		font-family: gil_bold,arial,sans-serif;
		font-size: 23px;	
	}
	.scroll_list_arrow {
		width: 564px;
		height: 58px;
		margin-left: 12px;
		border-top: 1px solid #221f1f;	
	}
	.scroll_list_arrow>section {
		width: 100%;
		height: 100%;
	}
	.list_arrow_down {
		background: #ffffff url("../images/arrow_down.png") no-repeat center;
		background-size: 63px 27px;
	}
	.list_arrow_up {
		background: #ffffff url("../images/arrow_up.png") no-repeat center;
		background-size: 63px 27px;
	}
	/* WE ARE HERE */


	.most_imp_detail {
		width: 100%;
		height: 70px;
		border-bottom: 1px solid #CBCBCB;
	}
	.most_imp_detail img {
		display: block;
		width: 50px;
		height: 50px;
		margin: auto;
		padding-top: 7px;
	}
	.sub_title_complex_details {
		position: relative;
		width: 100%;
		height: 30px;
		border-bottom : 1px solid #CBCBCB;
	}
	.sub_title_complex_details p {
		position: absolute;
		left: 8px;
		top: 5px;
		font-family: gil;
		font-size: 16px;
	}
	.sub_title_complex_details img {
		display: block;
		position: absolute;
		right: 5px;
		top: 3px;
		width: 25px;
		height: 25px;
	}
	/* all other sections  */
	.scroll_list_item_close{
		width: 100%;
		/*height: 150px;*/
		border-bottom: 1px solid #CBCBCB;
		font-family: gil,arial,sans-serif;
		font-size: 14px;
	}
	.scroll_list_item_close>section {
		float: left;
		padding-top: 5px;
	}
	.width40 {
		width: 40%;
	}
	.width25 {
		width: 25%;
	}
	.scroll_list_item_close>section:nth-child(1) { /* img */
		width: 15%;
	}
	.scroll_list_item_close>section:nth-child(1)>img {
		width: 25px;
		height: 25px;
		padding-left: 10%;
	}
	.scroll_list_item_close>section:nth-child(2) { /* title/desc */
		width: 40%;
		padding-left: 5px;
	}
	.scroll_list_item_close>section:nth-child(3) { /* time left */
		text-align: right;
		padding-right: 4px;
	}
	.scroll_list_delete_item {
		float: left;
		padding-top: 5px;
		width: 33px;
		border-left: 1px solid #CBCBCB;
		float: right;
	}
	.scroll_list_delete_item>img {
		width: 22px;
		height: 22px;
		margin-left: 5px;
	}
	.open_details {
		border-top: 1px solid #CBCBCB;
	}
	.edit_button{
		position: absolute;
		right: 4%;	
	}
	.edit_button>img {
		display: block;
		width: 25px;
		height: 25px;
		padding-top: 8px;
	}
	.scroll_list_row_details {
		padding-top: 15px;
	}

	/* NEW_ANIMAL PAGE */
	#new_animal_form input {
		outline: 0;
		border: 0px solid;
		font-family: gil,arial,sans-serif;
		font-size: 16px;	
	}
	.circlephoto {
	/*  width:50px;
	  height:50px;*/
	  border-radius:99px;
	  -moz-border-radius:99px;
	  -webkit-border-radius:99px;
	  background:black;
	  color:#fff;
	  border:3px #fff solid;
	  background-color: #e7676d;
	  background-image: -webkit-gradient(linear, left top, left bottom, from(#e7676d), to(#b7070a)); /* Saf4+, Chrome */
	  background-image: -webkit-linear-gradient(top, #e7676d, #b7070a); /* Chrome 10+, Saf5.1+, iOS 5+ */
	  background-image: -moz-linear-gradient(top, #e7676d, #b7070a); /* FF3.6 */
	  background-image: -ms-linear-gradient(top, #e7676d, #b7070a); /* IE10 */
	  background-image: -o-linear-gradient(top, #e7676d, #b7070a); /* Opera 11.10+ */
	  background-image: linear-gradient(top, #e7676d, #b7070a);
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#e7676d', EndColorStr='#b7070a'); 
	  display:block;
	  padding:2px 2px 2px 2px ;
	  margin:3px auto;
	  font-family:arial;
	  font-weight:bold;
   }
   #profileImage {
   	  width:50px;
	  height:50px;
   }
	#new_animal {
		width: 90%;
		border: 1px solid #CBCBCB;
		margin: 0 auto;
	}
	#new_animal_title,#new_animal_details,#new_animal_form p {
		padding-top: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid #CBCBCB;
		font-family: gil,arial,sans-serif;
		font-size: 18px;
	}
	#new_animal_title{
		text-align: center;
	}
	#new_animal_details {
		padding-left: 6px;
		border-bottom: 1px solid #000000; 
	}
	#new_animal_pic {
		height: 70px;
		border-bottom: 1px solid #000000; 
	}
	#new_animal_form p {
		padding-left: 6px;
	}
	#new_animal_done {
		display: block;
		margin: 10px auto;
	}
	#def_circle {
		margin: 3px auto;
		border-radius:99px;
		background-color: #e7676d;
		width: 40px;
		height: 40px;
	}

	/******************** NOTIFICARION PAGE *********************/
	.noti {
		width: 589px;
		border: 1.9px solid #221f1f;
		margin: 21px auto;
	}
	.noti>section {
		/*border-bottom: 1px solid #CBCBCB;*/
	}
	.noti>section>section {
		/*float: left;*/
	}
	.noti_title {
		width: 564px;
		height: 68px;
		border-bottom: 1px solid #221f1f;	
		margin-left: 12px;
		position: relative;
	}
	.noti_title>section {
		display: inline-block;
		position: absolute;
	}
	.noti_title>section:nth-child(1) {
		top: 13px;
		left: 7px;
	}
	.noti_title>section:nth-child(1)>img {
		width: 44px;
		height: 44px;
	}
	.noti_title>section:nth-child(2) {
		top: 26px;
		left: 65px;
		font-family: gil_bold,arial,sans-serif;
		font-size: 21px; 
	}
	.noti_title>section:nth-child(3) {
		top: 26px;
		/*left: 490px;  508px */
		right: 7px;
		font-family: gil,arial,sans-serif;
		font-size: 20px;
	}
	.noti_body {
		height: 100px;
	}
	.noti_body>section, .noti_end>section {
		float: left;
	}
	.noti_body>section:nth-child(1) {
		width: 30%;
		height: 100%;
		border-right: 1px solid #CBCBCB;
	}
	.noti_body>section:nth-child(1)>img {
		width: 50px;
		height: 50px;
	}
	.noti_body>section:nth-child(2) {
		width: 67%;
		height: 100%;
	}
	.noti_end {

	}
	.noti_end>section:nth-child(1) {
		width: 70%;
	}
	.noti_end>section:nth-child(2) {
		width: 28%;
		text-align: right;
	}

}
