<section id="new_animal_page">
	<section id="new_animal">
		<section id="new_animal_title"> <p> New </p> </section>
		<section id="new_animal_pic">
			<input type='file' id="imgInp" multiple accept='image/*'
					   onchange="angular.element(this).scope().uploadFile(this.files)" style="display:none">
			<img id="profileImage" ng-src="images/profileImg.png" alt="profileImage" class="circlephoto">
		</section>
		<section id="new_animal_details"> 
			<p> Details </p> 
			<img src="images/edit.png">
		</section>
		<section id="new_animal_form"> 
			<form ng-submit="checkIfAddAnimalAvailable()">
				<section class="form_row">
					<img src="images/num1.png">
					<label> Name:  </label>
					<input type="text" name="name" ng-model="animal.animalName">
				</section>
				<section class="form_row">
					<img src="images/num2.png">
					<label> Age: </label>
					<input type="number" pu-elastic-input name="age" ng-model="animal.animalAge"> 
					<p ng-hide="animal.animalAge==null">  years old </p>
				</section>
				<section class="form_row">
					<img src="images/num3.png">
					<label> Weight: </label>
					<input type="number" pu-elastic-input name="weight" ng-model="animal.animalWeight">
					<p ng-hide="animal.animalWeight==null"> kg </p>
				</section>
				<section id="form_spacer"> </section>
				<section id="new_animal_last_row">
					<input id="submit_new_animal" type="submit">
					<section id="done_new_animal">Done</section>
				</section>
			</form>
		</section>
	</section>
</section>