<section class="noti" ng-repeat="noti in user.notifications | orderBy:notiOrder">
	<section class="noti_title"> <!-- title -->
		<section>
			<img ng-src="{{findAnimalImgById(noti.animalId)}}">
			{{findAnimalNameById(noti.animalId)}}
		</section>
		<section>
			{{calcTimeForNoti(noti.notiType,noti.notiReceivedDate,noti.notiExpiredDate)}}
		</section>
		<div class="clear"></div>
	</section>
	<section class="noti_body">	<!-- body of the noti -->
		<section> <!-- big img -->
			<img ng-src="../images/{{noti.notiType}}.png">
		</section>
		<section> <!-- 2 rows description -->
			{{noti.notiName}}
		</section>
		<div class="clear"></div>
	</section>
	<section class="noti_end"> <!-- reminder & done -->
		<section> 
			<img>
			Reminder
		</section>
		<section ng-click="deleteNoti(noti._id)"> Done 
		</section>
		<div class="clear"></div>
	</section>
</section>